<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Predictor App</title>
</head>
<body>

    {% if not predictions.empty %}

    Stock Ticker: {{stock_ticker}} <br><br>
    Next 7 days predictions: {{predictions}} <hr> 

    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        Enter Stock Ticker: <input type="text" name="stock_ticker" id=" " required> <br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>